
<% include partials/header %>

<body id="kt_body" class="bg-body">
  <%- include('partials/message') %>

  <!--begin::Main-->
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Sign-up -->
    <div
      class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
      style="background-image: url(/media/illustrations/sketchy-1/14.png"
    >
      <!--begin::Content-->
      <div
        class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20"
      >
        <!--begin::Logo-->
        <!--end::Logo-->
        <!--begin::Wrapper-->
        <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
          <!--begin::Form-->
          <form action="/getBalance" method="post" class="form w-100" novalidate="novalidate" id="kt_sign_up_form">
            <!--begin::Heading-->
            <div class="mb-10 text-center">
              <!--begin::Title-->
              <h1 class="text-dark mb-3">Consulta tu saldo</h1>
              <!--end::Title-->
              <!--begin::Link-->
              <!--end::Link-->
            </div>
            <!--begin::Input group-->
            <div class="d-flex flex-column mb-7 fv-row">
              <!--begin::Label-->
              <label class="required form-label fw-bolder text-dark fs-6">Numero de la tarjeta</label>
              <!--end::Label-->
              <!--begin::Input wrapper-->
              <div class="position-relative">
                <!--begin::Input-->
                <input type="text" class="form-control form-control-solid" placeholder="Escriba su numero de la tarjeta" name="card_number" value="" />
                <!--end::Input-->
                <!--begin::Card logos-->
                <div class="position-absolute translate-middle-y top-50 end-0 me-5">
                  <img src="/media/svg/card-logos/visa.svg" alt="" class="h-25px" />
                  <img src="/media/svg/card-logos/mastercard.svg" alt="" class="h-25px" />
                  <img src="/media/svg/card-logos/american-express.svg" alt="" class="h-25px" />
                </div>
                <!--end::Card logos-->
              </div>
              <!--end::Input wrapper-->
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-lg btn-primary"
              >
                <span class="indicator-label">Submit</span>
                <span class="indicator-progress"
                  >Please wait...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span
                ></span>
              </button>
            </div>
            <!--end::Actions-->
          </form>
          <!--end::Form-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Content-->
      <!--begin::Footer-->
      <% include partials/footer %>
<!-- Footer -->

