<div class="d-flex flex-center flex-column-auto p-10">
  <!--begin::Links-->
  <div class="d-flex align-items-center fw-bold fs-6">
    <a
      href="https://keenthemes.com"
      class="text-muted text-hover-primary px-2"
      >About</a
    >
    <a
      href="mailto:support@keenthemes.com"
      class="text-muted text-hover-primary px-2"
      >Contact</a
    >
    <a
      href="https://1.envato.market/EA4JP"
      class="text-muted text-hover-primary px-2"
      >Contact Us</a
    >
  </div>
  <!--end::Links-->
</div>
<!--end::Footer-->
</div>
<!--end::Authentication - Sign-up-->
</div>
<!--end::Root-->
<!--end::Main-->
<!--begin::Javascript-->
<script>
var hostUrl = "/";
</script>
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="/plugins/global/plugins.bundle.js"></script>
<script src="/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="/js/custom/authentication/sign-up/general.js"></script>
<!--end::Page Custom Javascript-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="/js/widgets.bundle.js"></script>
<script src="/js/custom/widgets.js"></script>
<script src="/js/custom/apps/chat/chat.js"></script>
<script src="/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="/js/custom/utilities/modals/create-app.js"></script>
<script src="/js/custom/utilities/modals/new-target.js"></script>
<script src="/js/custom/utilities/modals/new-card.js"></script>
<script src="/js/custom/utilities/modals/users-search.js"></script>
<!--end::Javascript-->
</body>