<div class="w-lg-1200px bg-body rounded shadow-sm p-2 p-lg-2 mx-auto">
<div class="d-flex flex-center flex-column-auto p-10">
  <!--begin::Links-->
  <div class="d-flex align-items-center fw-bold fs-6">
    <a
      href="/createPayment"
      class="text-muted text-hover-primary px-2"
      >Realizar un Pago</a
    >
    <a
      href="/createBank"
      class="text-muted text-hover-primary px-2"
      >Crear un Banco</a
    >
    <a
      href="/createCard"
      class="text-muted text-hover-primary px-2"
      >Crear una tarjeta</a
    >
    <a
      href="/getBalance"
      class="text-muted text-hover-primary px-2"
      >Obtener balance de la Tarjeta</a
    >
    <a
      href="/deleteBank"
      class="text-muted text-hover-primary px-2"
      >Eliminar un Banco</a
    >
    <a
      href="/getAllPayments"
      class="text-muted text-hover-primary px-2"
      >Obtener todos los pagos</a
    >
    <a
      href="/getAllTransactions"
      class="text-muted text-hover-primary px-2"
      >Obtener todas las transacciones</a
    >
  </div>
  <!--end::Links-->
</div>
</div>
<!--end::Footer-->
</div>
<!--end::Authentication - Sign-up-->
</div>
<!--end::Root-->
<!--end::Main-->
<!--begin::Javascript-->
<script>
var hostUrl = "/";
</script>
<!--begin::Global Javascript Bundle(used by all pages)-->
<script src="/plugins/global/plugins.bundle.js"></script>
<script src="/js/scripts.bundle.js"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="/js/custom/authentication/sign-up/general.js"></script>
<!--end::Page Custom Javascript-->
<!--begin::Page Vendors Javascript(used by this page)-->
<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
<!--end::Page Vendors Javascript-->
<!--begin::Page Custom Javascript(used by this page)-->
<script src="/js/widgets.bundle.js"></script>
<script src="/js/custom/widgets.js"></script>
<script src="/js/custom/apps/chat/chat.js"></script>
<script src="/js/custom/utilities/modals/upgrade-plan.js"></script>
<script src="/js/custom/utilities/modals/create-app.js"></script>
<script src="/js/custom/utilities/modals/new-target.js"></script>
<script src="/js/custom/utilities/modals/new-card.js"></script>
<script src="/js/custom/utilities/modals/users-search.js"></script>
<script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
		<script src="assets/plugins/custom/vis-timeline/vis-timeline.bundle.js"></script>
		<!--end::Page Vendors Javascript-->
		<!--begin::Page Custom Javascript(used by this page)-->
		<script src="assets/js/widgets.bundle.js"></script>
		<script src="assets/js/custom/widgets.js"></script>
		<script src="assets/js/custom/apps/chat/chat.js"></script>
		<script src="assets/js/custom/utilities/modals/upgrade-plan.js"></script>
		<script src="assets/js/custom/utilities/modals/users-search.js"></script>
<!--end::Javascript-->
</body>
</html>