<% if(success!=''){ %>
    <div class="bg-gradient-primary py-1 py-lg-1 pt-lg-1">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <span class="alert-icon"><i class="alert-icon ni ni-bell-55"></i></span>
        <span class="alert-text"><strong><%= success %></strong></span>
        <button id="success" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
<script>
     function clickbutton() {
    // simulamos el click del mouse en el boton del formulario
    $("#success").click();
  }
    setTimeout(clickbutton,5000);
</script>
<% } %> 
<% if(message!='') { %> 
<div class="bg-gradient-primary py-1 py-lg-1 pt-lg-1">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-icon"><i class="alert-icon ni ni-bell-55"></i></span>
        <span class="alert-text"><strong><%= message %></strong> Por favor Intente nuevamente</span>
        <button id="danger" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
<script>
    function clickbutton() {
   // simulamos el click del mouse en el boton del formulario
   $("#danger").click();
 }
   setTimeout(clickbutton,5000);
</script>
<% } %> 